



#searchForm {
    margin-right: 100px;
    margin-top: 20px;
}
#home, #logIn {
    margin-left: 50px;
    margin-top: 10px;
}
#price {
    margin-right: 10px;
}
#toPrice {
    margin-left: 10px;
}



