/* Main page stylings */

h2, h3 {
    background: #b2a58d;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
}
h1 {
    background: #867c6a;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
}
p {
    text-indent: 8px;
}
.right {
    float: right;
}
.navbar {
    background: #cad4e0;
}
#home, #logIn {  /* Header styling */
    margin-left: 50px;
    margin-top: 10px;
}
#searchForm {  /* header styling */
     margin-right: 100px;
     margin-top: 20px;
 }
/* End main page styling */

/* Start Welcome page styling */

#featuresRow {
    margin-top: 50px;
}
.listPadding li {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* End Welcome page styling */

/* Start results page styling */
#filters {
    margin-bottom: 40px;
}
.even {
    background: #cad4e0;
}
.odd {
    background: #7b93b2;
}
.center {
     margin-top: 10px;
 }
/* End results page styling */


/* Start Detail page styling */
#mainImage {
    margin: 40px 100px;
}
.customerService {
    margin-left: 50px;
}
.detail-location {
    margin-bottom: 40px;
}
/* End Detail page styling */

.detail-member {
    margin-top: 20px;
    margin-bottom: 20px;
}
























