/* Main page stylings */



.container-fluid {
    background: #fff5e3;
}

.imgBox {
    width: 100px;
    height: 100px;
    background-image: repeating-radial-gradient(#867c6a, #cad4e0 5px, #cad4e0 10px);
}
.imgBox img {
    margin: 3px 14px 14px -10px;
}
.dropdown {
    margin: 40px;
    float: left;
}
.navLogin {
    float: left;
    margin-top: 20px;
}
h2, h3 {
    background: #b2a58d;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    border-radius: 30px 0 30px  0;
}
h1 {
    background: #867c6a;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    border-radius: 30px 0 30px 0;
}
p {
    text-indent: 8px;
}
label {
    letter-spacing: 1px;
}
.right {
    float: right;
}
.navbar {
    background: #cad4e0;
}
#home, #logIn {  /* Header styling */
    margin-left: 50px;
    margin-top: 10px;
}
#searchForm {  /* header styling */
     margin-right: 100px;
     margin-top: 20px;
 }

/* End main page styling */

/* Start Welcome page styling */

#featuresRow {
    margin-top: 50px;
}
.listPadding, .locationPadding {
    box-shadow: 3px 3px 2px #b2a58d;
}
.listPadding li {
    padding-top: 30px;
    padding-bottom: 30px;
}
#zipPadding {
    margin-top: 10px;
}
.color {
    background: #7b93b2;
    color: #fff5e3;
}
.color a {
    color: #fff5e3;
    font-size: 1.5em;
}
.bgColor {
    background-image: url(../images/images/Logo-Protoype2_03.png);
    background-position: center;
}



/* End Welcome page styling */

/* Start results page styling */
#filters {
    margin-bottom: 40px;
}
.even {
    background: #cad4e0;
}
.odd {
    background: #7b93b2;
}
.center {
     margin-top: 10px;
 }
strong {
    letter-spacing: 1px;
}
.filterGroup li {
    text-align: center;
}


/* End results page styling */


/* Start Detail page styling */
#mainImage {
    margin: 40px 100px;
}

.customerService {
    margin-left: 50px;
}
.detail-location {
    margin-bottom: 40px;
}
.prodBG {
    background: #cad4e0;
}

/* End Detail page styling */

.detail-member {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Start Favorites Page styling */

.black {
    border-color: #000000;
}

/* End Favorites page styling */



/* Start styling for Log In Page */

.blueBackground {
    background-color: #2e90ff;
}

.background {
    background-image: url(../images/images/Logo-Protoype2_03.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #000000;
    width: 80%;
    height: 880px;
}
.whiteLabel {
    color: #ffffff;
    letter-spacing: 1px;
}

/* End styling for Log In page */

@media (min-width: 620px) and (max-width: 768px){

    .navLogin {
        margin-left: 10px;
    }
    .dropdown {
        margin: 40px 10px 10px 10px;
    }
    #searchForm {  /* header styling */
        margin-right: 10px;
        margin-top: 40px;
    }
    .customerService {
        margin: 10px 190px;
    }
    #mainImage {
        margin: 40px 150px;
    }
}

@media (max-width: 600px) {
    .imgBox {
        margin: 10px 90px;
    }

    .navLogin {
        margin-left: 2px;
    }
    .dropdown {
        margin-left: 2px;
    }
    #searchForm {
        margin-right: 2px;

    }
}
















